<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ApplePushEnabled" value="false"/>
    <add key="ApplePushKeyFileName" value="apns-cert-CampusWatch-dev.p12"/>
    <add key="ApplePushKeyFilePassword" value="Inf0CAD"/>
    <add key="ApplePushIsProduction" value="false"/>
    <add key="AppleTargetDeviceToken" value="20b6a421eb15ba4ad9556b4d74d8654c1da9529bb071236152660fb751fc0dad"/>
    <!-- Winnie's iPhone 5S: 98ca6d56ca1b1699fbce781da8a86c58c60e0e520e511430ac08a7130d6d43b3 -->
    <add key="AndroidPushEnabled" value="true"/>
    <add key="AndroidAppPushSenderID" value="82654747314"/>
    <add key="AndroidAppPushApiKey" value="AIzaSyCnmCx9MISzmx8G_XcnWI8DwsuIX7wjzac"/>
    <add key="AndroidAppPushPkgName" value="com.google.android.gcm.demo.app"/>
    <add key="AndroidTargetDeviceToken" value="APA91bEhU8O2b6W53uXJU7asyDtqoFCGs3LXj_lvKIhcWj2oPT9Qks_FRgiGKyDgZa6rYoUEful287XENyB0r7lYWpE_WyLuPju-EtJl3R8ls0K-Z03ox3x8uUR4VlEQcaAikN6zbxIg8n_1EZ6UDmJNZ1Hd6RLM29ywUZ7CQDdpkCaJhZnArnM"/>    
    <add key="BlackBerryPushEnabled" value="false"/>
    <add key="BlackBerryPushAppID" value="1221-8743ckB381y1i45n2f119c299c94e88a020"/>
    <add key="BlackBerryPushPassword" value="DK89rq48"/>
    <add key="BlackBerryPushUrl" value="https://pushapi.eval.blackberry.com/mss/PD_pushRequest"/>   
    <add key="SMSEnabled" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
