
@{
    ViewBag.Title = "Hello EmberJS";
}


<!-- Checkout Views/Shared/_Layout.cshtml for necessary JavaScript libraries. -->

<script>
    window.HelloEmberjs = Ember.Application.create({});
</script>



<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>

<script type="text/x-handlebars">
    <h1>Hello Ember!</h1>
</script>



