<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ApplePushEnabled" value="false" />
    <add key="ApplePushKeyFileName" value="apns-cert-CampusWatch-dev.p12" />
    <add key="ApplePushKeyFilePassword" value="Inf0CAD" />
    <add key="AndroidPushEnabled" value="false" />
    <add key="AndroidAppPushSenderID" value="82654747314" />
    <add key="AndroidAppPushApiKey" value="AIzaSyCnmCx9MISzmx8G_XcnWI8DwsuIX7wjzac" />
    <add key="AndroidAppPushPkgName" value="com.google.android.gcm.demo.app" />
    <add key="BlackBerryPushEnabled" value="true" />
    <add key="BlackBerryPushAppID" value="1221-8743ckB381y1i45n2f119c299c94e88a020" />
    <add key="BlackBerryPushPassword" value="DK89rq48" />
    <add key="BlackBerryPushUrl" value="https://pushapi.eval.blackberry.com/mss/PD_pushRequest" />   
    <add key="SMSEnabled" value="false" />
  </appSettings>
</configuration>